.panel-body.panelscrollh
    ngx-table([configuration]="_tableDetalle.config", [data]="_tableDetalle.data", [columns]="_tableDetalle.columns")
        //- td {{row.fl_nid}}
        //- td {{row.fl_vnombre}}
        //- td {{row.fl_vdescripcion}}