
doctype html
html
	head
		script(type='text/javascript')
			let frmdata = {
				"cia_nid": null,
				"cia_vfullname": "''",
				"cia_vshortname": "''",
				"cia_vconcact": "''",
				"cia_vphone": "''",
				"cia_vmails": "''",
				"cia_ncredit": 0,
				"cia_nhasclients": 0,
				"cia_nsts": 1,
				"cia_vhash": "''"
			};
	body
		//- ******************************************
		//- *********** cia_nid ************
		//- PrimaryKey Hiden
		input.form-control(type="hidden", readonly, [(ngModel)]= "frmdata.cia_nid", name="cia_nid")
		//- PrimaryKey Visible
		.form-group
			label {{'frms.cias.cia_nid' | translate}} :
			input.form-control(type="number", placeholder="{{'frms.cias.cia_nid_ph' | translate}}", readonly, [(ngModel)]= "frmdata.cia_nid", name="cia_nid")
		//- ******************************************



		//- ******************************************
		//- *********** cia_vfullname ************
		.form-group
			label {{'frms.cias.cia_vfullname' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vfullname_ph' | translate}}", [(ngModel)]="frmdata.cia_vfullname", name="cia_vfullname", #cia_vfullname="ngModel", required, minlength="2", maxlength="150")
		//- ******************************************



		//- ******************************************
		//- *********** cia_vshortname ************
		.form-group
			label {{'frms.cias.cia_vshortname' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vshortname_ph' | translate}}", [(ngModel)]="frmdata.cia_vshortname", name="cia_vshortname", #cia_vshortname="ngModel", required, minlength="2", maxlength="20")
		//- ******************************************


		//- ******************************************
		//- *********** cia_vconcact ************
		.form-group
			label {{'frms.cias.cia_vconcact' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vconcact_ph' | translate}}", [(ngModel)]="frmdata.cia_vconcact", name="cia_vconcact", #cia_vconcact="ngModel", required, minlength="2", maxlength="100")
		//- ******************************************



		//- ******************************************
		//- *********** cia_vphone ************
		.form-group
			label {{'frms.cias.cia_vphone' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vphone_ph' | translate}}", [(ngModel)]="frmdata.cia_vphone", name="cia_vphone", #cia_vphone="ngModel", required, minlength="2", maxlength="50")
		//- ******************************************



		//- ******************************************
		//- *********** cia_vmails ************
		.form-group
			label {{'frms.cias.cia_vmails' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vmails_ph' | translate}}", [(ngModel)]="frmdata.cia_vmails", name="cia_vmails", #cia_vmails="ngModel", required, minlength="2", maxlength="100")
		//- ******************************************



		//- ******************************************
		//- *********** cia_ncredit ************
		.form-group
			label {{'frms.cias.cia_ncredit' | translate}} :
			input.form-control(type="number",min="-32768", max="32767", placeholder="{{'frms.cias.cia_ncredit_ph' | translate}}", [(ngModel)]= "frmdata.cia_ncredit", name="cia_ncredit")
			//- CheckBoxsOptions
			br
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_ncredit", value="0", [(ngModel)]="frmdata.cia_ncredit", checked="checked")
				span.fa.fa-circle
				| {{'frms.cias.cia_ncredit0' | translate}}
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_ncredit", value="1", [(ngModel)]="frmdata.cia_ncredit" )
				span.fa.fa-circle
				| {{'frms.cias.cia_ncredit1' | translate}}
		//- ******************************************



		//- ******************************************
		//- *********** cia_nhasclients ************
		.form-group
			label {{'frms.cias.cia_nhasclients' | translate}} :
			input.form-control(type="number",min="-.9", max=".9", step="any", placeholder="{{'frms.cias.cia_nhasclients_ph' | translate}}", [(ngModel)]= "frmdata.cia_nhasclients", name="cia_nhasclients")
			input.form-control(type="number",min="0.00", max=".9", step="any", placeholder="{{'frms.cias.cia_nhasclients_ph' | translate}}", [(ngModel)]= "frmdata.cia_nhasclients", name="cia_nhasclients")
			//- CheckBoxsOptions
			br
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_nhasclients", value="0", [(ngModel)]="frmdata.cia_nhasclients", checked="checked")
				span.fa.fa-circle
				| {{'frms.cias.cia_nhasclients0' | translate}}
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_nhasclients", value="1", [(ngModel)]="frmdata.cia_nhasclients" )
				span.fa.fa-circle
				| {{'frms.cias.cia_nhasclients1' | translate}}
		//- ******************************************



		//- ******************************************
		//- *********** cia_nsts ************
		.form-group
			label {{'frms.cias.cia_nsts' | translate}} :
			input.form-control(type="number",min="-.9", max=".9", step="any", placeholder="{{'frms.cias.cia_nsts_ph' | translate}}", [(ngModel)]= "frmdata.cia_nsts", name="cia_nsts")
			input.form-control(type="number",min="0.00", max=".9", step="any", placeholder="{{'frms.cias.cia_nsts_ph' | translate}}", [(ngModel)]= "frmdata.cia_nsts", name="cia_nsts")
			//- CheckBoxsOptions
			br
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_nsts", value="0", [(ngModel)]="frmdata.cia_nsts", checked="checked")
				span.fa.fa-circle
				| {{'frms.cias.cia_nsts0' | translate}}
			label.radio-inline.c-radio
				input#inlineradio1(type="radio", name="cia_nsts", value="1", [(ngModel)]="frmdata.cia_nsts" )
				span.fa.fa-circle
				| {{'frms.cias.cia_nsts1' | translate}}
		//- ******************************************



		//- ******************************************
		//- *********** cia_vhash ************
		.form-group
			label {{'frms.cias.cia_vhash' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.cias.cia_vhash_ph' | translate}}", [(ngModel)]="frmdata.cia_vhash", name="cia_vhash", #cia_vhash="ngModel", required, minlength="2", maxlength="5")
		//- ******************************************



