
doctype html
html
	head
		script(type='text/javascript')
			let frmdata = {
  "ubc_nid": null,
  "eq_vimei": "",
  "ubc_vtipo": "",
  "ubc_nlatitud": 0,
  "ubc_nlongitud": 0,
  "ubc_nvelocidad": 0,
  "ubc_naltitud": 0,
  "ubc_nazimut": 0,
  "ubc_naccuracy": 0,
  "ubc_nodometro": 0,
  "ubc_vestadomotor": "",
  "ubc_vestadoequipo": "",
  "ubc_vgpstime": "",
  "ubc_vsendtime": "",
  "ubc_nbateria": 0
};
	body
		//- ******************************************
		//- *********** ubc_nid ************
		//- PrimaryKey Hiden
		input.form-control(type="hidden", readonly, [(ngModel)]= "frmdata.ubc_nid", name="ubc_nid")
		//- PrimaryKey Visible
		.form-group
			label {{'frms.ubicaciones.ubc_nid' | translate}} :
			input.form-control(type="number", placeholder="{{'frms.ubicaciones.ubc_nid_ph' | translate}}", readonly, [(ngModel)]= "frmdata.ubc_nid", name="ubc_nid")
		//- ******************************************
		


		//- ******************************************
		//- *********** eq_vimei ************
		.form-group
			label {{'frms.ubicaciones.eq_vimei' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.eq_vimei_ph' | translate}}", [(ngModel)]="frmdata.eq_vimei", name="eq_vimei", #eq_vimei="ngModel", required, minlength="2", maxlength="20")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_vtipo ************
		.form-group
			label {{'frms.ubicaciones.ubc_vtipo' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.ubc_vtipo_ph' | translate}}", [(ngModel)]="frmdata.ubc_vtipo", name="ubc_vtipo", #ubc_vtipo="ngModel", required, minlength="2", maxlength="50")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nlatitud ************
		.form-group
			label {{'frms.ubicaciones.ubc_nlatitud' | translate}} :
			input.form-control(type="number",min="-9999.99999999999", max="9999.99999999999", step="any", placeholder="{{'frms.ubicaciones.ubc_nlatitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nlatitud", name="ubc_nlatitud")
			input.form-control(type="number",min="0.00", max="9999.99999999999", step="any", placeholder="{{'frms.ubicaciones.ubc_nlatitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nlatitud", name="ubc_nlatitud")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nlongitud ************
		.form-group
			label {{'frms.ubicaciones.ubc_nlongitud' | translate}} :
			input.form-control(type="number",min="-9999.99999999999", max="9999.99999999999", step="any", placeholder="{{'frms.ubicaciones.ubc_nlongitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nlongitud", name="ubc_nlongitud")
			input.form-control(type="number",min="0.00", max="9999.99999999999", step="any", placeholder="{{'frms.ubicaciones.ubc_nlongitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nlongitud", name="ubc_nlongitud")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nvelocidad ************
		.form-group
			label {{'frms.ubicaciones.ubc_nvelocidad' | translate}} :
			input.form-control(type="number",min="-9999999.999", max="9999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_nvelocidad_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nvelocidad", name="ubc_nvelocidad")
			input.form-control(type="number",min="0.00", max="9999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_nvelocidad_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nvelocidad", name="ubc_nvelocidad")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_naltitud ************
		.form-group
			label {{'frms.ubicaciones.ubc_naltitud' | translate}} :
			input.form-control(type="number",min="-9999999.999", max="9999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_naltitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_naltitud", name="ubc_naltitud")
			input.form-control(type="number",min="0.00", max="9999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_naltitud_ph' | translate}}", [(ngModel)]= "frmdata.ubc_naltitud", name="ubc_naltitud")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nazimut ************
		.form-group
			label {{'frms.ubicaciones.ubc_nazimut' | translate}} :
			input.form-control(type="number",min="-9223372036854775808", max="9223372036854775807", placeholder="{{'frms.ubicaciones.ubc_nazimut_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nazimut", name="ubc_nazimut")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_naccuracy ************
		.form-group
			label {{'frms.ubicaciones.ubc_naccuracy' | translate}} :
			input.form-control(type="number",min="-99.999", max="99.999", step="any", placeholder="{{'frms.ubicaciones.ubc_naccuracy_ph' | translate}}", [(ngModel)]= "frmdata.ubc_naccuracy", name="ubc_naccuracy")
			input.form-control(type="number",min="0.00", max="99.999", step="any", placeholder="{{'frms.ubicaciones.ubc_naccuracy_ph' | translate}}", [(ngModel)]= "frmdata.ubc_naccuracy", name="ubc_naccuracy")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nodometro ************
		.form-group
			label {{'frms.ubicaciones.ubc_nodometro' | translate}} :
			input.form-control(type="number",min="-9999999999999999999999.999", max="9999999999999999999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_nodometro_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nodometro", name="ubc_nodometro")
			input.form-control(type="number",min="0.00", max="9999999999999999999999.999", step="any", placeholder="{{'frms.ubicaciones.ubc_nodometro_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nodometro", name="ubc_nodometro")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_vestadomotor ************
		.form-group
			label {{'frms.ubicaciones.ubc_vestadomotor' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.ubc_vestadomotor_ph' | translate}}", [(ngModel)]="frmdata.ubc_vestadomotor", name="ubc_vestadomotor", #ubc_vestadomotor="ngModel", required, minlength="2", maxlength="3")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_vestadoequipo ************
		.form-group
			label {{'frms.ubicaciones.ubc_vestadoequipo' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.ubc_vestadoequipo_ph' | translate}}", [(ngModel)]="frmdata.ubc_vestadoequipo", name="ubc_vestadoequipo", #ubc_vestadoequipo="ngModel", required, minlength="2", maxlength="3")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_vgpstime ************
		.form-group
			label {{'frms.ubicaciones.ubc_vgpstime' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.ubc_vgpstime_ph' | translate}}", [(ngModel)]="frmdata.ubc_vgpstime", name="ubc_vgpstime", #ubc_vgpstime="ngModel", required, minlength="2", maxlength="14")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_vsendtime ************
		.form-group
			label {{'frms.ubicaciones.ubc_vsendtime' | translate}} :
			input.form-control(type="text", placeholder="{{'frms.ubicaciones.ubc_vsendtime_ph' | translate}}", [(ngModel)]="frmdata.ubc_vsendtime", name="ubc_vsendtime", #ubc_vsendtime="ngModel", required, minlength="2", maxlength="14")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_nbateria ************
		.form-group
			label {{'frms.ubicaciones.ubc_nbateria' | translate}} :
			input.form-control(type="number",min="-999.99", max="999.99", step="any", placeholder="{{'frms.ubicaciones.ubc_nbateria_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nbateria", name="ubc_nbateria")
			input.form-control(type="number",min="0.00", max="999.99", step="any", placeholder="{{'frms.ubicaciones.ubc_nbateria_ph' | translate}}", [(ngModel)]= "frmdata.ubc_nbateria", name="ubc_nbateria")
		//- ******************************************
		


		//- ******************************************
		//- *********** ubc_dhoraserver ************
		.form-group
			label {{'frms.ubicaciones.ubc_dhoraserver' | translate}} :
		//- ******************************************
		


